/*Move arrow to left in selection box */
 .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    position: relative;
    top: -9px;
	}

/* */
 .topcorner{
   position:absolute;
   top: 49px;
   right: 23px;
  }
  
 
/*Style for dataTable*/
table.dataTable thead .sorting{background:none;}
table.dataTable thead .sorting_asc{background:none;}
table.dataTable thead .sorting_desc{background:none;}
table.dataTable thead .sorting_asc_disabled{background:none;}
table.dataTable thead .sorting_desc_disabled{background:none;}

 .dataTables_scroll{
    overflow:auto;
    position:relative;
}
 
.dataTables_wrapper .dataTables_length {
float: right;
}
.dataTables_wrapper .dataTables_filter {
float: right;
text-align: left;
}
button.dt-button, div.dt-button, a.dt-button{ /*Prepare this for @media Query*/
	padding: 0.3em 0.5em; 
	margin-right: -0.1em;
}

 .dataTables_wrapper .buttons-print {
  background-color: #1ab394;
  background: #1ab394;
  color: white;
  margin-right: 0em;
  /* padding: 0em 1em; */
  
}

.dataTables_wrapper .buttons-excel {
  background-color: #1ab394;
  background: #1ab394;
  color: white;
  margin-right: 0em;
 /*  padding: 0em 1em; */
} 
.dataTables_wrapper .buttons-pdf {
  background-color: #1ab394;
  background: #1ab394;
  color: white;
  margin-right: 0em;
  /* padding: 0em 1em; */
} 

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
	border-left: dotted;
    border-width: thin;
    text-align: center;
	vertical-align: middle;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    text-align: center;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 0px 0px;
   |}
.removepadding tr td{
	padding: 0 !important;
    /*height: 20px;*/
}


/*Changing alternate row color*/
table.display tbody tr:nth-child(even) td{
    background-color: #ececec !important;
}
 
table.display tbody tr:nth-child(odd) td {
    background-color: none !important;
}




div.dataTables_wrapper div.dataTables_filter input{
padding: 0px 0px;
line-height: 20px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.1em 0em;
	margin-left: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(to bottom, #fbf6f6 0%, #fbf4f4 100%);
    border: 1px solid #fbf4f4;
}


.caption-property {
    padding: 7px;
    background-color: #00a7d0;
    background: #00a7d0;
    color: #f8f0f0;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 6px;
    line-height: 1;
    display: table-caption;
    text-transform: uppercase;
    
}

.alert {
    padding: 2px;
}
.alert-dismissible .close {
    right: -3px;
 }
/*input[type="text"]{ padding: 20px 10px; line-height: 28px; }*/

/*
#example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

#example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

#example tr.even:hover {
	background-color: #ECFFB3;
}


#example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

#example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

#example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

#example tr.odd:hover {
	background-color: #E6FF99;
}

#example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

#example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

#example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}
*/

legend.scheduler-border {
		font: 12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        width:auto;
        padding-top: 0px;
		padding-left: 4px;
		padding-right: 4px;
        border-bottom:none;
		margin-bottom:0px;
    }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
.labelstyle {
    display: inline !important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    padding: 4px;
}
/*
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

select.custom {
	width:100%;
 
  background-color: #444;
  border: #444;
  border-radius: 4px;
  display: inline-block;
  font-size:0.8em;
  line-height: 1.5em;
  padding: 0.5em 1.8em 0em 0em;



  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select.minimal {

	font-size:0.8em;
  
  background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #444, #444);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}






.panel-heading{
	cursor:pointer;
}
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 5px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-ul {
    list-style: none;
    padding: 0;
    border: none;
	float:left;
    
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.form-group{
	font:12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	margin-top:10px;
}


    
	

.formselect {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color:black;
    border:1px solid #ccc;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}




.content .content-header {
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
.content-wrapper{
	background-color: #fff;
}

 .toolbar {
    float: left;
} 


.center-div
{
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
height: 100px;
border-radius: 3px;
}
*/

.workarea-body {
	position: relative;
	width: 100%; 
    height: 100%; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    z-index: 1;
}

 
 .overlay-div {
    position: relative; /*Child*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    z-index: 2;
    background-color: rgba(249, 241, 241, 0.5)
    display: none;
    /*cursor: pointer;*/
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}
 
#please-wait-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#please-wait-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}





/* .overlay-div {
    position: fixed; Sit on top of the page content
    display: none; Hidden by default
    width: 100%; Full width (cover the whole page)
    height: 100%; Full height (cover the whole page)
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); Black background with opacity
   background-color:rgba(242, 233, 233, 0.5);
    z-index: 2; Specify a stack order in case you're using a different order for other elements
    cursor: pointer; Add a pointer on hover
}
 */
 
 /*.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    color: #c2b4b4;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}*/


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #898282;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3c8dbc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  /* top: 9px;
  left: 9px;
  width: 8px;
  height: 8px; */
  
    top: 4px;
	left: 4px;
	width: 17px;
	height: 17px;
	
  border-radius: 50%;
  background: #fff;
}

.panel-fullscreen {
display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: auto;
}

.active-report-name > *{
	color: '#fff'
	border-color': #e08e0b;
	background-color: #f39c12; /* For browsers that do not support gradients */
  	/*background-image: linear-gradient(to left,#ff6600,#ff944d,#f39c12,#ffcc00);  Standard syntax (must be last) */
  	background-image:-webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background-image:linear-gradient(to right,#ff8a00,#da1b60);
	
	
}

button.dt-button, div.dt-button, a.dt-button{
	background: #1ab394;
	color: white;
	margin-right: 0e;
}


.report-top-panel {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
}


 .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
.text-report-note {
    color: #e6f312 !important;
    font-size: 13px;
    word-break: break-all;
}

.apply-warning {
    border-color: #f39c12;
    box-shadow: none;
}

.round-anchor{
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 21px;
}


/* for Theme Font applies to all reports */
.sidebar-menu > li > a {
    padding: 0px 5px 7px 14px;
    display: block;
}

.treeview-menu > li > a {
    padding: 4px 0px 0px 14px;
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.skin-blue-light .sidebar-menu .treeview-menu > li > a {
  padding: 3px 0px 0px 14px;
}
.box-header .box-title {
    font-size: 16px;
  }
.box-header {
     padding: 6px;
}
body {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
}
/* End for Theme Font applies to all reports */

